@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,700);
main {
  font-family: "montserrat";
}
h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
}
.section__products {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.product__item {
  width: 16.25rem;
  height: auto;
}
.product__item .product__item-img {
  background: #f3f4f6;
  overflow: hidden;
  width: 100%;
  height: 20rem;
}
.product__item .product__item-img img {
  object-fit: cover;
  width: 100%;
}
.product__item .product__item-name {
  margin: 1rem;
  text-align: center;
}
.product__item .product__item-price {
  margin: 1rem;
  text-align: center;
  font-weight: 600;
}
